* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --color-icon-search: rgb(112,117,121);
    --background-search: rgb(244,244,245);
    --focus-search: rgb(51,144,236);
    --color-shadow: rgba(114,114,114,0.25098);
    --color-text-meta-colored: rgb(77,205,94);
    --color-text-meta: #686c72;
}

.border-search {
   width: 100%;
   border: 2px solid var(--background-search);
   caret-color: var(--background-search);
   background-color: var(--background-search);
   height: 40px;
   display: inline-flex;
   border-radius: 40px 40px 40px 40px;
}

.input-search {
    margin: auto 0;
    flex-grow: 0.6;
    border: none;
    background-color: var(--background-search);
    color: var(--color-icon-search);
}

.input-search:focus {
    outline: none;
}

.icon-search {
    margin: auto 10px auto 10px;
}

.icon-search .fa-search {
    color: var(--color-icon-search);
}

.border-search-focus {
    border-color: var(--focus-search);
    caret-color: var(--focus-search);
    background-color: #fff;
}

.bars-left{
    width: 40px;
    height: 40px;
}

.bars-left-mousemove, .arrow-right-mousemove {
    background-color: var(--background-search);
    border-radius: 50%;
}

#bars-left .fa-bars, #arrow-right .fa-arrow-right{
    color: var(--color-icon-search);
    margin: auto auto;
}

#bars-left {
   opacity: 1;
}

#arrow-right{
   opacity: 0;
   width: 0px;
   height: 0px;
}

.header-left {
    border-right: 1px solid red;
}

#nav-menu-left {
    position: absolute;
    width: 320px;
    max-height: 100%;
    max-width: 100%;
    top: 60px;
    left: 14px;
    box-shadow: 0 .25rem .5rem .125rem  var(--color-shadow);
    border-radius: 0.75rem;
    overflow-y: auto;
    opacity: 0;
    padding-top: 1rem;
    background-color: #fff;
    z-index: 2;
}

.nav-menu-list {
    padding: 0;
}

.nav-menu-list li {
    list-style: none;
    padding: 1rem 0 1rem 1rem;
}

.form-checkbox {
    padding-left: 3.5em;
}

#nav-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

@keyframes fadeIn {
    from{
        top: 0;
        left: 0;
        opacity: 0;
    }
    to{
        top: 60px;
        left: 14px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        top: 60px;
        left: 14px;
        opacity: 1;
    }
    to{       
        top: 0;
        left: 0;
        opacity: 0;
    }
}

.header-right {
    background-image: url('/assets/imgs/img-chat.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-list {
    padding: 0px;
}

.img-item-user {
    width: 54px;
    height: 54px;
}

.title span {
    font-weight: 500;
}

.active-icon {
    color: var(--color-text-meta-colored);
}

.time-active {
    text-align: right;
}

.time-chat {
    color: var(--color-text-meta);
}

.last-message {
    width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.user-list{
    z-index: 2;
    position: relative;
    top: 0px;
    left: 0;
    max-height: 92vh;
    overflow: auto;
}

.user-link{
    padding-right: 10px;
}

.user-list::-webkit-scrollbar {
    width: 3px;
    height: 100%;
    cursor: pointer;
}

.user-list::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 50px;
}

@media (max-width: 768px){
    .header-left {
        border: none;
        padding-right: 1rem;
    }
}

/* Binh */
.login-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 720px;
}

.login-logo {
    margin: 60px 0;
    width: 160px;
    height: 100%;
}

.login-title {
    font-weight: 500;
    color: black;
    font-size: 32px;
    margin-bottom: 8px;
}

.login-form_country .login-input-contries{
    width: 270px;
    height: 60px;
    
}